<table>

    <thead>

        <tr>

            <th>
                Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Availability
            </th>

        </tr>

    </thead>

    <tbody>

        <tr *ngFor="let product of products; let i = index">
            <td>{{i}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | number}}</td>
            <td>{{product.availability}}</td>
        </tr>

    </tbody>

</table>